{{>partials/header}}
<section class="banner" style="background-image: url('images/{{banner.background}}')">{{banner.title}}</section>
<h2>Lista de cervejas do tipo {{banner.title}}</h2>
<img href= '{{& background}}'>
<div class="container list">

    {{#list}}
        <div class="item">
        <img src="images/{{image}}" class="item--image" />
        <div class="item--name">{{name}}</div>
        <div class="item--type">Tipo: {{type}}</div>
        <div class="item--color">Cor: {{color}}</div>
        <div class="item--color">Lançada em {{releasedDate}}</div>
    </div>
    {{/list}}
</div>

{{>partials/footer}}