<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ListBeers</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
</head>
<body>
<header>
    <div class="container">
        <a href="/">ListBeers</a>
        <form method="GET" action="/search">
            <input type="search" name="q" placeholder="Pesquisa" />
        </form>
    </div>
</header>
<nav>
    <ul>
        <li class="active"><a href="">Todas</a></li>
        <li class=""><a href="">Pilsen</a></li>
        <li class=""><a href="">IPA</a></li>
        <li class=""><a href="">Stout</a></li>
    </ul>
</nav>